{{- if and .Values.tempo.enabled .Values.crossplane.enabled (include "tempo.crossplane.isAzure" .) .Values.crossplane.azure.enabled }}
{{- $tags := include "tempo.crossplane.tags" . | fromYaml }}
{{- $containerName := .Values.crossplane.azure.container.name }}
{{- $storageAccountName := include "tempo.crossplane.azure.storageAccountName" (dict "containerName" $containerName) }}
---
apiVersion: storage.azure.upbound.io/v1beta2
kind: Account
metadata:
  name: {{ $storageAccountName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "tempo.labels" . | nindent 4 }}
    app.kubernetes.io/component: storage
  annotations:
    crossplane.io/external-name: {{ $storageAccountName }}
spec:
  managementPolicies:
    {{- if .Values.crossplane.observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    resourceGroupName: {{ .Values.crossplane.azure.resourceGroup }}
    location: {{ .Values.crossplane.region }}
    accountKind: BlobStorage
    accountReplicationType: LRS
    accountTier: Standard
    allowBlobPublicAccess: false
    enableHttpsTrafficOnly: true
    minTlsVersion: TLS1_2
    publicNetworkAccessEnabled: {{ not .Values.crossplane.private }}
    {{- if $tags }}
    tags:
      {{- range $key, $value := $tags }}
      {{ $key }}: {{ $value | quote }}
      {{- end }}
    {{- end }}
  providerConfigRef:
    name: {{ .Values.crossplane.providerConfigRef }}
  writeConnectionSecretToRef:
    name: {{ $containerName }}
    namespace: {{ .Release.Namespace }}
{{- end }}
