apiVersion: v2
appVersion: 2.8.2
name: tempo
description: Helm chart for Grafana Tempo in microservice mode
dependencies:
  - name: tempo-distributed
    version: 1.53.2
    repository: https://grafana.github.io/helm-charts
    condition: tempo.enabled
    alias: tempo
  - name: tempo-vulture
    version: 0.10.0
    repository: https://grafana.github.io/helm-charts
    condition: vulture.enabled
    alias: vulture
home: https://github.com/giantswarm/tempo-app
icon: https://s.giantswarm.io/app-icons/grafana-tempo/1/light.svg
maintainers:
  - name: giantswarm/team-atlas
    email: team-atlas@giantswarm.io
sources:
  - https://github.com/giantswarm/tempo-app
  - https://github.com/grafana/helm-charts/blob/main/charts/tempo-distributed
type: application
version: 0.7.0
annotations:
  application.giantswarm.io/team: atlas
